@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}
.main_Container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 208, 219);
}
.box_container{
  width: 400px;
  height: 500px;
  border-radius: 08px;
  background-color: honeydew;
  box-shadow:1px 1px 5px 0px rgba(114, 114, 114, 0.84);
}
.main_heading{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgb(224, 167, 167);
}
.main_content{
  width: 100%;
  height: 100px;
  background-color: rgb(219, 229, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_content input{
  width: 250px;
  height: 40px;
  padding: 12px;
  border: 0;
  border-radius: 12px;
  margin-right: 12px;
  box-shadow:1px 1px 5px 0px rgba(114, 114, 114, 0.84);
}
.main_content button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(224, 167, 167);
  box-shadow:1px 1px 5px 0px rgba(114, 114, 114, 0.84);
}
.main_content button:hover{
  background-color: rgb(101, 219, 146);
}
.list_content{
  width: 100%;
  margin-top: 12px;
  margin-left: 50px;
}
.list_content ol li{
  list-style: none;
  font-size: 16px; 
  color:rgb(161, 131, 131); 
  margin-bottom: 10px;
  font-weight: 800;
  color: black;
}
.list_content ol li i:hover{
  color: red;
}
.list_style{
  display: flex;
  justify-content:flex-start
}
.list_style i{
  margin-top: 3px;
}
.list_style i:hover{
  color: red;
}
.list_style li{
  margin-left: 10px;
}